<template>
    <component :is="theme"></component>
</template>

<script>
// import Dual from 'components/theme/Dual'
// import Single from 'components/theme/Single'
import Kosmopolit from 'components/theme/Kosmopolit'
// import {remote} from "electron";
// import commandsController from "src/services/command";

export default {
  name: 'PageIndex',
  data() {
    return {
      theme: Kosmopolit
    }
  },

}
</script>

<style lang="scss">
@import url(https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500);

html, body, #q-app {
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=), none;

  user-select: none;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
}
</style>
