<template>
  <q-carousel
    animated
    v-model="slide"
    infinite
    :autoplay="autoplay"
    transition-prev="fade"
    transition-next="fade"
    ref="carousel"
  >
    <template v-for="(s, idx) in slides">
      <q-carousel-slide v-if="typeFromMime(s.file_type) === 'image'" :key="s.format_name" class="adv-slide" style="background-repeat: no-repeat;" :name="idx" :img-src="srcFromServerPath(s.format_name)" />

      <q-carousel-slide v-else-if="typeFromMime(s.file_type) === 'video'" :key="s.format_name" :name="idx" class="adv-slide">
          <video style="width: 100%; height: 100%" autoplay preload="auto" @ended="nextSlide" @error="nextSlide" @abort="nextSlide" @stalled="nextSlide">
            <source :src="srcFromServerPath(s.format_name)" @error="nextSlide" @abort="nextSlide" @stalled="nextSlide">
          </video>
      </q-carousel-slide>
    </template>
  </q-carousel>
</template>

<script>
import Advertising from "src/services/api/advertising";
import Store from "src/store";
const remote = require('@electron/remote')

export default {
  name: 'advertising-banners',
  data() {
    return {
      slide: 0,
    }
  },
  computed: {
    slides() {
      return this.$store.getters['command/advertising']
    },
    autoplay() {
      const slide = this.slides.find((i, idx) => idx === this.slide)

      return (slide && this.typeFromMime(slide.file_type) === 'image')
          ? (slide.showDelay) ? slide.showDelay * 1000 : 4000
          : (!(slide && this.typeFromMime(slide.file_type) === 'video'))
    }
  },
  mounted() {
    const serial = this.$store.getters['command/serial']
    const advertising = new Advertising(serial)

    remote.process.on('uncaughtException', function (error) {
      advertising.handCommandsTimeout()
    })

    advertising.init()
  },
  methods: {
    nextSlide() {
      this.$refs.carousel.next()
    },
    typeFromMime(mime) {
      return mime.split('/')[0]
    },
    srcFromServerPath(path) {
      return process.env.host + path
    }
  },
  watch: {
    slides() {
      this.$refs.carousel.goTo(0)
    }
  }
}
</script>

<style lang="scss">
  .adv-slide {
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
</style>
