<template>
  <q-carousel
    animated
    v-model="slide"
    infinite
    :autoplay="autoplay"
    transition-prev="fade"
    transition-next="fade"
    ref="carousel"
  >
    <q-carousel-slide v-for="(sli, idx) in slides" :key="sli.id" :name="idx" class="flex column justify-center no-wrap" style="overflow: hidden; padding: 0 30px">
      <div style="font-size: 58px;" class="text-center" v-html="sli.title" />
      <div class="text-justify" style="white-space: pre-wrap; font-size: 32px; font-weight: 400;" v-html="sli.text" />
    </q-carousel-slide>
  </q-carousel>
</template>

<script>
  export default {
    name: 'announcement-slider',
    data() {
      return {
        slide: 0,
      }
    },
    computed: {
      slides() {
        return this.$store.getters['announcement/getAll']
      },
      autoplay() {
        return this.slides.find((i, idx) => idx === this.slide)
          ? this.slides.find((i, idx) => idx === this.slide).show_delay * 1000
          : true
      }
    },
    methods: {
      shallowEqual(object1, object2) {
        const keys1 = Object.keys(object1);
        const keys2 = Object.keys(object2);

        if (keys1.length !== keys2.length) {
          return false;
        }

        for (let key of keys1) {
          if (Object.entries(object1[key]).toString() !== Object.entries(object2[key]).toString()) {
            return false;
          }
        }

        return true;
      }
    },
    watch: {
      slides(val, oldVal) {
        if (!this.shallowEqual(val, oldVal)) {
          this.$refs.carousel.goTo(0)
        }
      }
    }
  }
</script>
