<template>
  <div class="digital-clock flex column">
    <div class="digital-clock__time" :class="classClock">{{ time }}</div>
    <div class="digital-clock__date" :class="classDate">{{ date }}</div>
  </div>
</template>

<script>
export default {
  name: 'digital-clock',
  props: {
    classClock: {
      type: [String, Object],
      default: null,
    },
    classDate: {
      type: [String, Object],
      default: null,
    }
  },
  data() {
    return {
      interval: null,
      time: null,
      date: null
    }
  },
  created() {
    this.setDateTime()

    this.interval = setInterval(() => {
      this.setDateTime()
    }, 1000)
  },
  methods: {
    setDateTime() {
      this.time = new Date().toLocaleTimeString("ru", {
        hour: 'numeric',
        minute: 'numeric',
        // second: 'numeric',
        timeZone: this.$store.getters['command/timezone']
      })

      this.date = new Date().toLocaleString('ru', {
        weekday: 'short',
        month: 'long',
        day: 'numeric',
        timeZone: this.$store.getters['command/timezone']
      });
    }
  },
  beforeDestroy() {
    // prevent memory leak
    clearInterval(this.interval)
  },
}
</script>

<style lang="scss">
  .digital-clock {
    line-height: 1.25;
    &__time {
      font-size: 38px;
      color: #000;
      font-weight: 300;
    }

    &__date {
      font-size: 20px;
      color: #000;
      font-weight: 200;
    }

    &__date::first-letter {
      text-transform: capitalize;
    }

  }
</style>
