<template>
  <div class="weather-info flex items-center">
    <span class="weather-info__temp" :class="classTemp">{{ weather.temperature }}&#176;</span>
    <img v-if="weather.icon" class="weather-info__icon" :class="classIcon" :src="'weather/' + weather.icon" alt="">
  </div>
</template>

<script>

export default {
  name: 'weather-info',
  props: {
    classTemp: {
      type: [String, Object],
      default: null,
    },
    classIcon: {
      type: [String, Object],
      default: null,
    }
  },
  computed:{
    weather() {
      return this.$store.getters['command/weather']
    }
  }
}
</script>

<style lang="scss">
.weather-info {
  &__temp {
    font-size: 56px;
    font-weight: 300;
  }

  &__icon {
    width: 100px;
    height: 100px
  }
}
</style>
