<template>
  <q-page class="flex">
    <advertising-banners style="flex: 0 50%; height: 100vh" />

    <div style="flex: 0 50%">
      <div class="flex items-center justify-between"
           style="height: 130px; padding: 15px; margin-top: 10px; position: relative; background-size: contain; background-repeat: no-repeat; background-position: 50%;"
           :style="{ backgroundImage: `url(${hostname + '/../' + logo})`}">
        <digital-clock style="margin: 0 10px" />
        <weather-info style="margin: 0 10px" />
      </div>

      <div style="display: flex">
        <announcement-slider style="height: calc(100vh - 300px); flex: 0 97%;"
                             :style="{ flex: `0 ${subtextright ? '97' : '100'}%` }"/>
        <div v-if="subtextright" style="flex: 0 3%; font-size: 22px; text-align: center; -webkit-writing-mode: vertical-rl; writing-mode:tb-rl;">
          {{ subtextright }}
        </div>
      </div>

      <div class="flex column" style="padding-left: 15px; font-weight: 300;">
        <div v-if="phone" style="line-height: 1.2; padding-bottom: 15px">
          <div style="font-size: 24px; color: #f34942">Тел. горячей линии:</div>
          <div style="font-size: 28px; color: #f34942">{{ phone }}</div>
        </div>
        <div v-if="email" style="line-height: 1.2">
          <div style="font-size: 24px; color: #1b1925;">Email:</div>
          <div style="font-size: 28px; color: #1b1925">{{ email }}</div>
        </div>

        <QrcodeVue v-if="qrcodetext" class-name="absolute-bottom-right" style="height: 180px; width: 180px" size="175" :value="qrcodetext"></QrcodeVue>
      </div>
    </div>
  </q-page>
</template>

<script>
import commandsController from "src/services/command";
import { remote } from 'electron'

import DigitalClock from "components/DigitalClock";
import WeatherInfo from "components/WeatherInfo";
import AnnouncementSlider from "components/AnnouncementSlider";
import AdvertisingBanners from "components/AdvertisingBanners";

import QrcodeVue from 'qrcode.vue'

export default {
  name: 'PageIndex',
  components: {
    DigitalClock,
    WeatherInfo,
    AnnouncementSlider,
    AdvertisingBanners,
    QrcodeVue
  },
  async mounted() {
    remote.process.on('uncaughtException', function (error) {
      commandsController.handCommandsTimeout()
    })

    commandsController.init()
  },
  computed: {
    hostname() {
      return this.$store.getters['command/hostname']
    },
    logo() {
      return this.$store.getters['command/logo']
    },
    phone() {
      return this.$store.getters['command/phone']
    },
    email() {
      return this.$store.getters['command/email']
    },
    subtextright() {
      return this.$store.getters['command/subtextright']
    },
    qrcodetext() {
      return this.$store.getters['command/qrcodetext']
    }
  },
}
</script>

<style lang="scss">
@import url(https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500);

body {
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
  //background: #25242f;
}
</style>
