<template>
<div class="main-container">
  <div class="ad">
    <div class="ad_header-container">
      <div class="ad_header-logo">
        <img src="../../assets/Fanconi_logo.png" alt="">
      </div>
      <div class="ad_info">
        <div class="ad_info-item">
          <span>ЯЛТА:</span>
        </div>
        <div class="ad_info-item">
          <span>77,5</span>
          <img src="../../assets/icon/dolar.png" alt="">
        </div>
        <div class="ad_info-item">
          <span>90,4</span>
          <img src="../../assets/icon/euro.png" alt="">
        </div>
        <div class="ad_info-item">
          <span>10:15</span>
          <img src="../../assets/icon/time.png" alt="">
        </div>
        <div class="ad_info-item">
          <span>+23 °</span>
          <img src="../../assets/icon/weather.png" alt="">
        </div>
      </div>
    </div>
    <div class="ad_content_container">
      <div class="row">
        <div class="col-10">
          <div class="ad_content-video">
            <iframe width="100%" height="750px" src="https://www.youtube.com/embed/ACZL_nPEB3k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-2">
          <div class="ad_banner-container">
            <div class="ad_banner-img">
              <img src="../../assets/banner.png" alt="">
            </div>
            <div class="ad_banner-text">Текст реклама </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ad_new">
      Текст  бегущая строка новостей
    </div>
  </div>
</div>
</template>

<script>
export default {
  name: 'Home'
}
</script>

<style lang="scss">
.ad {
  border: 2px solid #fff;
  .ad_header-container {
    background: #fff;
    display: flex;
    justify-content: space-between;
    .ad_info {
      display: flex;
      align-items: center;
      .ad_info-item {
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 25px;
        span {
          font-size: 33px;
          color: #000;
          font-weight: bold;
          text-transform: uppercase;
          margin-right: 10px;
        }
      }
    }
  }
  .ad_content_container {
    .ad_banner-container {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .ad_banner-img {
        display: flex;
        justify-content: center;
        background: #fff;
        padding: 15px 0;
      }
      .ad_banner-text {
        color: #f8f5f5;
        font-size: 28px;
        padding: 15px 20px;
        border-left: 2px solid #fff;
        height: 100%;
      }
    }
    .ad_content-video {
      display: flex;
    }
  }
  .ad_new {
    color: #fff;
    font-size: 30px;
    padding: 10px 10px;
    border-top: 2px solid #fff;
  }
}
</style>
