<template>
  <div class="main-container">
    <div class="ad">
      <div class="ad_header-container">
        <div class="ad_header-logo">
          <img src="../../assets/kosmopolit/logo.png" alt="">
        </div>
        <div class="ad_info">
          <div class="ad_info-item">
            <span>Симферополь:</span>
          </div>
          <div class="ad_info-item">
            <span>{{ USD }}</span>
            <img src="../../assets/icon/dolar.png" alt="">
          </div>
          <div class="ad_info-item">
            <span>{{ EUR }}</span>
            <img src="../../assets/icon/euro.png" alt="">
          </div>
          <div class="ad_info-item">
            <digital-clock class-clock="clock-size"></digital-clock>
          </div>
          <div class="ad_info-item">
            <weather-info class-icon="weather-icon" class-temp="weather-size"></weather-info>
          </div>
        </div>
      </div>
      <advertising-banners style="flex: 0 50%;" class="adv-slider"/>

      <marquee class="marquee" behavior="scroll" loop="infinity" scrollamount="1" truespeed="1000" scrolldelay="7">
        {{ news.join(' | ') }}
      </marquee>
      <div class="new">
        <announcement-slider class="announcement-slider"></announcement-slider>
      </div>
      {{ $store.getters["command/hostname"] === mainHostname ? $store.getters['command/serial'] : ''}}

    </div>
  </div>
</template>

<script>
import commandsController from "src/services/command";
import News from "src/services/api/news";
import Exchange from "src/services/api/exchange";
import AnnouncementSlider from "components/AnnouncementSlider";
import AdvertisingBanners from "components/AdvertisingBanners";

import WeatherInfo from "components/WeatherInfo";
import DigitalClock from "components/DigitalClock";
import {remote} from "electron";
export default {
  name: 'Home',
  components: {AnnouncementSlider, AdvertisingBanners, DigitalClock, WeatherInfo},
  data () {
    return {
      slide: 0,
      mainHostname: process.env.hostname,
      news: [],
      EUR: '--',
      USD: '--'
    }
  },
  mounted() {
    const exchange = new Exchange(({ EUR, USD }) => {
      this.EUR = EUR.toFixed(2);
      this.USD = USD.toFixed(2);
    })

    const news = new News((news) => {
      this.news = news
    })

    remote.process.on('uncaughtException', function (error) {
      commandsController.handCommandsTimeout()
      news.handCommandsTimeout()
      exchange.handCommandsTimeout()
    })

    exchange.init();
    news.init()
    commandsController.init()
  }
}
</script>

<style lang="scss">
@import url(https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500);

html, body, #q-app {
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=), none;

  user-select: none;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
}

.weather-icon {
  width: 70px;
  height: 70px;
}

.weather-size {
  font-size: 30px !important;
}

.clock-size {
  font-size: 28px !important;
}

.main-container {
  background: #000;
  height: 100vh;
  padding: 100px 80px;
}

.adv-slider {
  padding-bottom: 56.25%;
}

.announcement-slider {
  height: auto;
}

.ad {
  margin: 0 auto;
  height: 100%;
  background: #fff;

  .ad_header-container {
    background: #fecf28;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;

    .ad_info {
      display: flex;
      align-items: center;

      .ad_info-item {
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 15px;

        span {
          font-size: 22px;
          color: #000;
          font-weight: 500;
          margin-right: 10px;
        }
      }
    }
  }

  .marquee {
    font-size: 28px;
    width: 100%;
    padding: 14px 0;
    white-space: nowrap;
    overflow: hidden;
    background: #fecf28;
  }

  .marquee span {
    color: #000;
    font-size: 25px;
    display: inline-block;
    padding-left: 100%;

  }


  .new {
    background: #fff;
    padding: 32px 20px 0 20px;
    //height: 1024px;
    span {
      font-size: 32px;
      font-weight: 700;
    }
  }
}
</style>
