<template>
  <q-page>
    <div class="single-layout flex fixed window-height full-width">
      <div style="flex: 130px 0; padding: 10px">
        <img src="~/assets/lastochka_logo.png" alt="">
      </div>
      <div style="width: calc(100vw - 260px)" class="flex column justify-between">
        <div style="font-size: 32px; color: #fff; margin-left: 20px; height: 80px" class="flex items-center justify-between">
          <div>Добро пожаловать !</div>
          <div class="flex justify-between items-center" style="width: 400px">
            <digital-clock class-clock="text-white" class-date="text-white"></digital-clock>
            <div class="advertising_header-item">

            <!--          <span>{{time}}</span>-->
            <!--          <img src="~/assets/advertising_time.png" alt="">-->
          </div>
            <weather-info></weather-info>
            <!--          <span>{{climate}}</span>-->
            <!--          <img src="~/assets/advertising_climate.png" alt="">-->
          </div></div>
        <div>
          <q-carousel
            ref="carousel"
            v-model="slide"
            infinite
            animated
            transition-prev="fade"
            transition-next="fade"
            :autoplay="autoplay"
            class="bg-transparent"
            style="height: calc(100vh - 200px)"
          >
            <q-carousel-slide v-for="(s, idx) in slides" :key="s.format_name" :name="idx" style="overflow: hidden">
              <img v-if="typeFromMime(s.file_type) === 'image'" :src="srcFromServerPath(s.format_name)" alt="" style="width: 100%;">

              <template v-else-if="typeFromMime(s.file_type) === 'video'">
<!--                <video-player-->
<!--                  @ended="nextSlide" @error="nextSlide" @abort="nextSlide" @stalled="nextSlide"-->
<!--                  :options="{ autoplay:true, controls: false, preload: 'auto', sources: { src: srcFromServerPath(s.format_name), type: s.file_type } }">-->

<!--                </video-player>-->
                <video style="width: 100%; height: 100%" autoplay preload="auto" @ended="nextSlide" @error="nextSlide" @abort="nextSlide" @stalled="nextSlide">
                  <source :src="srcFromServerPath(s.format_name)" @error="nextSlide" @abort="nextSlide" @stalled="nextSlide">
                </video>
              </template>
            </q-carousel-slide>
            <!--        <q-carousel-slide name="1">-->
            <!--          <img src="~/assets/advertising_slide-1.jpg" alt="">-->
            <!--        </q-carousel-slide>-->
            <!--        <q-carousel-slide name="2">-->
            <!--          <img src="~/assets/advertising_slide-2.jpg" alt="">-->
            <!--        </q-carousel-slide>-->
          </q-carousel>

        </div>
        <div class="self-end" style="color: #fff; font-size: 32px; margin-right: 35px;">
          Сканируй QR код и узнай больше
        </div>
      </div>
      <div style="flex: 130px 0;">
        <div style="position: absolute; bottom: 0; padding: 1px; background-color: #fff; display: flex; justify-content: center; align-items: center">
          <QrcodeVue v-if="qrcodetext" style="" size="120" :value="qrcodetext"></QrcodeVue>
        </div>

      </div>
    </div>
  </q-page>
</template>

<script>
import DigitalClock from "components/DigitalClock";
import WeatherInfo from "components/WeatherInfo";
const remote = require('@electron/remote')
import Advertising from "src/services/api/advertising";
import QrcodeVue from 'qrcode.vue'
// import videojs from 'video.js';
// import VideoPlayer from "components/VideoPlayer";

export default {
  name: 'MainLayout',
  components: {WeatherInfo, DigitalClock, QrcodeVue},
  data () {
    return {
      slide: 1,
      // slides: [
      //   { format_name: 'public/assets/pr/1.jpg', file_type: 'image', showDelay: 12 },
      //   { format_name: 'assets/k1.JPG', file_type: 'image', showDelay: 12 },
      //
      //   { format_name: 'assets/pr/2.jpg', file_type: 'image', showDelay: 12 },
      //   { format_name: 'assets/k2.JPG', file_type: 'image', showDelay: 12 },
      //
      //   { format_name: 'assets/pr/3.jpg', file_type: 'image', showDelay: 12 },
      //   { format_name: 'assets/k3.JPG', file_type: 'image', showDelay: 12 },
      //
      //   { format_name: 'assets/pr/4.jpg', file_type: 'image', showDelay: 12 },
      //   { format_name: 'assets/k4.JPG', file_type: 'image', showDelay: 12 },
      //
      //   { format_name: 'assets/pr/5.jpg', file_type: 'image', showDelay: 12 },
      //   { format_name: 'assets/k5.JPG', file_type: 'image', showDelay: 12 },
      //
      //   { format_name: 'assets/pr/6.jpg', file_type: 'image', showDelay: 12 },
      //   { format_name: 'assets/k6.JPG', file_type: 'image', showDelay: 12 },
      //
      //   { format_name: 'assets/pr/7.jpg', file_type: 'image', showDelay: 12 },
      // ]
    }
  },
  computed: {
    qrcodetext() {
      return this.$store.getters['command/qrcodetext']
    },
    slides() {
      return this.$store.getters['command/advertising']
    },
    autoplay() {
      const slide = this.slides.find((i, idx) => idx=== this.slide)

      return (slide && this.typeFromMime(slide.file_type) === 'image')
        ? (slide.showDelay) ? slide.showDelay * 1000 : 4000
        : false
    }
  },
  async mounted() {
    const advertising = new Advertising()

    remote.process.on('uncaughtException', function (error) {
      console.log("бабка ёжка")
      advertising.handCommandsTimeout()
    })

    advertising.init()

    this.$refs.carousel.goTo(0)
  },
  methods: {
    nextSlide() {
      this.$refs.carousel.next()
    },
    typeFromMime(mime) {
      return mime.split('/')[0]
    },
    srcFromServerPath(path) {
      return process.env.host + path
    }
  },
  watch: {
    slides() {
      this.$refs.carousel.goTo(0)
    }
  }
}
</script>
<style lang="scss">

.single-layout {
  cursor: none !important;
}

body {
  background: radial-gradient(65.78% 65.78% at 50.09% 7.22%, #2a3035 0%, #001017 100%);
  //padding: 0 30px;
  height: 1080px;
}

.advertising_header {
  padding-top: 35px;
  display: flex;
  justify-content: space-between;
  .advertising_header-left {
    display: flex;
    .advertising_header-title {
      font-size: 32px;
      color: #fff;
      margin-left: 40px;
    }
  }
  .advertising_header-right {
    display: flex;
    .advertising_header-item {
      height: 28px;
      display: flex;
      align-items: center;
      padding: 0 60px;
      &:last-child {
        padding-right: 0;
      }
      span {
        font-size: 32px;
        color: #fff;
        margin-right: 12px;
      }
    }
  }
}
.advertising_slider {
  width: 88%;
  margin: 0 auto;
  position: relative;
  bottom: 34px;
  .q-carousel {
    height: auto !important;
    .q-carousel__slide {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 !important;
    }
  }
}
.advertising_footer {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  position: relative;
  bottom: 82px;
  .advertising_footer-text {
    color: #fff;
    font-size: 32px;
    margin-right: 35px;
  }
}
</style>
