<template>
  <div id="q-app">
    <router-view />
  </div>
</template>

<script>

export default {
  name: 'App',
  beforeCreate() {
    // console.log(this)
    // this.$q.electron.remote.BrowserWindow.getFocusedWindow().setFullScreen(true)
  }
}
</script>

<style>
  body {
    cursor: none;
  }
</style>
